header{
    margin-left: 40px;
}

section{ /*Caja principal que contiene a todos, flex para que los aline horizontalmente*/
    display: flex; 
    flex-wrap: wrap;
    text-align: center; /*Alineacion de texto*/
    font-weight: bold; /*negrita*/
    color: #000;
    margin-left: 40px;
    margin-right: 40px;
}

.SeccionUno { /* **Caja que contiene la secion Uno** */
    display: flex; /*Esta caja contiene a "metalesAlcalino" y los alinea verticalmente*/
    flex-direction: column;
    width: 50px; /*ancho de contenido*/ 
}

.metalesAlcalinos {
    background-color: #F7CAAC; /*color de fondo a la seccion 1*/
    padding: 15px;
    border: 1px solid #000; /*Borde*/
}

.metalesAlcalinos:hover { /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.SeccionDos{ /* **Caja que contiene la secion Dos** */
    display: flex;  /*Esta caja contiene a "AlcalinoTerreo" y un "Vacio" los alinea verticalmente*/
    flex-direction: column;
    width: 50px; /*ancho de contenido*/       
}

.Vacio{ /*Pd: no sabiamos como dejar el espacio superior de la tabla, por lo que creamos un div que sea
        todo blanco(fondo, color de letra, bordes), con el mismo tamaño que los demas*/
    color: white;
    background-color: white;
    padding: 15px;
    border: 1px solid white;
}

.AlcalinoTerreo{
    background-color: #FFE599; /*color de fondo a la seccion 2*/
    padding: 15px;
    border: 1px solid #000; /*Borde*/
}

.AlcalinoTerreo:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.SeccionTres{ /* **Caja que contiene la secion Tres** */
    display: flex; /*Esta caja contiene a "Contenedor", y los alinea horizontalmente*/
    flex-direction: row;
}

.Contenedor{  /*Esta caja contiene a "metalesDeTransicion" y "Vacio" en un grid*/
    display: grid; /*La guia decia que para el resposive se debia Separar en una sola con orientación horizontal y un máximo de 5,
                   esta seccion en total tiene 10 columnas, porlo usamos dos "Contenedor" para separalos en 5*/

    grid-template-columns: 50px 50px 50px 50px 50px; /*se define la cantidad de columnas*/
}

.metalesDeTransicion{
    background-color: #FFFF00; /*color de fondo a la seccion 3*/
    padding: 15px;
    border: 1px solid #000; /*Borde*/
}

.metalesDeTransicion:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.SeccionCuatro-Seis{ /* **seccion cuatro hasta la seis** */
    display: grid; /*Esta caja contiene a "OtrosMetales", "Metaloides", "NoMetales" y "Vacio" en un grid*/
    grid-template-columns: 50px 50px 50px 50px;  /*se define la cantidad de columnas*/
}

.OtrosMetales{/*color de fondo a la seccion 4*/
    background-color: #8EAADB;
    padding: 15px;
    border: 1px solid #000;
}

.OtrosMetales:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.Metaloides{ /*color de fondo a la seccion 5*/
    background-color: #68FB61;
    padding: 15px;
    border: 1px solid #000;
}

.Metaloides:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.NoMetales{ /*color de fondo a la seccion 6*/
    background-color: #DDABFF;
    padding: 15px;
    border: 1px solid #000;
}

.NoMetales:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.SeccionSiete{ /* **Caja que contiene la secion Site** */
    display: flex; /*Esta caja contiene a "Halogenos" y un "Vacio". Y los alinea verticalmente*/
    flex-direction: column;
    width: 50px; /*ancho de contenido*/          
}

.Halogenos{ /*color de fondo a la seccion 7*/
    background-color: #FF66FF; 
    padding: 15px;
    border: 1px solid #000;
}

.Halogenos:hover{ /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

.SeccionOcho { /* **Caja que contiene la secion ocho** */
    display: flex; /*Esta caja contiene a "GasesNobles" y los alinea verticalmente*/
    flex-direction: column;
    width: 50px;
}

.GasesNobles { /*color de fondo a la seccion 8*/
    background-color: #00CCFF;
    padding: 15px;
    border: 1px solid #000;
}

.GasesNobles:hover { /*Cada ves que el usuario pase sobre ellos cambie de color y fonfo*/
    background-color: #031FA2 ;
    color: white;
}

footer{
    margin-left: 40px;
}

/* Pantallas hasta 600px: disposición en vertical, máximo 2 columnas */
@media (max-width: 600px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .SeccionUno, .SeccionDos, .SeccionTres, .SeccionCuatro-Seis, .SeccionSiete, .SeccionOcho {
        grid-column: span 2;
    }
}

/*Responsive*/
@media (min-width: 601px) and (max-width: 800px) {
    .SeccionUno, .SeccionDos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; /* Secciones 1 y 2 en orientacion horizontal */
        width:200px ;
        padding: 0px;
    } 
    
    .SeccionTres {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Seccion 3 con un máximo de 5 columnas */
        margin-bottom: 20px;
    }
    
    .SeccionTres {
        grid-column: span 5;
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columnas adaptativas */
        gap: 10px;
    }
    
    .SeccionCuatro-Seis { 
        grid-column: span 1;
        margin-bottom: 20px;
    }
    
    .SeccionSiete, .SeccionOcho {
        display: flex;
        flex-direction: column; /* Secciones 7 y 8 en horizontal */
    }
}
